Asiabooks/Asiabooks/App_WebReferences/Thailandpost_Track/TrackandTrace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://www.xmlforasp.net" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Track and Trace Web Services</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.xmlforasp.net">
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult" type="s0:TrackItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TrackItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemsData" type="s0:ArrayOfItems" />
          <s:element minOccurs="1" maxOccurs="1" name="TrackCountData" type="s0:TrackCount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItems">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Items" type="s0:Items" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Items">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryDateTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrackCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestItemsResult" type="s0:TrackRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TrackRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemsData" type="s0:ItemsRequest" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestCountData" type="s0:RequestCount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusResponse" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestCount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TrackDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PublicKeySoapHeader" type="tns:PublicKeySoapHeader" />
      <s:complexType name="PublicKeySoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PublicXmlKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="s0:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="s0:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemsPublicKeySoapHeader">
    <wsdl:part name="PublicKeySoapHeader" element="tns:PublicKeySoapHeader" />
  </wsdl:message>
  <wsdl:message name="RequestItemsSoapIn">
    <wsdl:part name="parameters" element="s0:RequestItems" />
  </wsdl:message>
  <wsdl:message name="RequestItemsSoapOut">
    <wsdl:part name="parameters" element="s0:RequestItemsResponse" />
  </wsdl:message>
  <wsdl:message name="RequestItemsPublicKeySoapHeader">
    <wsdl:part name="PublicKeySoapHeader" element="tns:PublicKeySoapHeader" />
  </wsdl:message>
  <wsdl:portType name="Track_x0020_and_x0020_Trace_x0020_ServiceSoap">
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestItems">
      <wsdl:input message="tns:RequestItemsSoapIn" />
      <wsdl:output message="tns:RequestItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Track_x0020_and_x0020_Trace_x0020_ServiceSoap" type="tns:Track_x0020_and_x0020_Trace_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetItemsPublicKeySoapHeader" part="PublicKeySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestItems">
      <soap:operation soapAction="http://tempuri.org/RequestItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestItemsPublicKeySoapHeader" part="PublicKeySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Track_x0020_and_x0020_Trace_x0020_ServiceSoap12" type="tns:Track_x0020_and_x0020_Trace_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://tempuri.org/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetItemsPublicKeySoapHeader" part="PublicKeySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestItems">
      <soap12:operation soapAction="http://tempuri.org/RequestItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestItemsPublicKeySoapHeader" part="PublicKeySoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Track_x0020_and_x0020_Trace_x0020_Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Track and Trace Web Services</wsdl:documentation>
    <wsdl:port name="Track_x0020_and_x0020_Trace_x0020_ServiceSoap" binding="tns:Track_x0020_and_x0020_Trace_x0020_ServiceSoap">
      <soap:address location="http://track.thailandpost.co.th/TTPOSTWebService/TrackandTrace.asmx" />
    </wsdl:port>
    <wsdl:port name="Track_x0020_and_x0020_Trace_x0020_ServiceSoap12" binding="tns:Track_x0020_and_x0020_Trace_x0020_ServiceSoap12">
      <soap12:address location="http://track.thailandpost.co.th/TTPOSTWebService/TrackandTrace.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>